SPRING_APPLICATION_NAME=flyaway

# H2 DATABASE
SPRING_DATASOURCE_URL=jdbc:h2:mem:flyawaydb
SPRING_DATASOURCE_DRIVECLASSNAME=org.h2.Driver
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=

# H2 CONSOLE
SPRING_H2_CONSOLE_ENABLED=true
SPRING_H2_CONSOLE_PATH=/h2-console

# JPA / HIBERNATE
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.H2Dialect
SPRING_JPA_HIBERNATE_DDL_AUTO=create-drop
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

# JWT
JWT_SECRET=2bb80d537b1da3e38bd30361aa855686bde0eacd7162fef6a25fe97bf527a25b
JWT_EXPIRATION_ACCESS=3600000
JWT_EXPIRATION_REFRESH=3600000

# SECURITY LOGS
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG