SPRING_APPLICATION_NAME=

# H2 DATABASE
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_DRIVECLASSNAME=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# H2 CONSOLE
SPRING_H2_CONSOLE_ENABLED=
SPRING_H2_CONSOLE_PATH=

# JPA / HIBERNATE
SPRING_JPA_DATABASE_PLATFORM=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_SHOW_SQL=
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=

# JWT
JWT_SECRET=
JWT_EXPIRATION_ACCESS=
JWT_EXPIRATION_REFRESH=

# SECURITY LOGS
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=DEBUG